<h3>Graphic Design Portfolio</h3>
  <div class="grid-x grid-margin-x">
    <div *ngFor="let image of _albums; index as i">
      <div class="cell small-4">
        <img class="thumbnail"  [src]="image.src"  width="100"  (click)="open(i)" />
        <!--<h5>{{ image.caption }}</h5> -->
      </div>
    </div>
  </div>

<!--
<div *ngFor="let item of portfolioItems | async">
  <h1>{{ item.name }}</h1>

  <img src="{{ item.artwork }}" 
  alt="{{ item.name }}" height="357">

</div>
-->
<!--https://stackblitz.com/edit/angular-wnpevq?file=src%2Fassets%2Fgraphic.json-->